<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!--Styles-->
    <link rel="stylesheet" href="styles/pets-styles.css">

    <title>Pets Page</title>
</head>
<body>
    <h1>This is the Pets Home.html page</h1>
    <img src="images/pets.jpg" alt="a picture of a dog">
    <br>
    <p><a href="https://github.com/SGTWaffles-F34/pets">Link to an External page</a></p>
</body>
</html>